html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: $rawline;
}

body.no-scroll {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: $blue;
  border-radius: 20px;
  border: 0px solid orange;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
  padding-left: $width-sidebar;
  background-color: $bg;
  z-index: $z-index-main;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1348px;
  margin: 0 auto;
  padding: 0 60px 0 48px;
}

.container-fluid {
  max-width: 1600px;
  margin: 0 auto;
  padding: 57px 60px 33px 48px;
}

.text-grad1 {
  background-color: #2AA5A0;
  background-image: linear-gradient(99.02deg, #5CB1FF -6.68%, #5CFFEB 173.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 117.38%;
}

.text-1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
}

.text-2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 116.6%;
}

.text-3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
}

.text-4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
}

.text-5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 145%;
}

.text-5-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 145%;
}

.text-6 {
  font-size: 16px;
  font-weight: 300;
  line-height: 145%;
}

.text-7 {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.text-8 {
  font-size: 14px;
  font-weight: 300;
  line-height: 145%;
}

.dropdown {
  position: relative;
  // z-index: 1000;
}

.dropdown__button {
  position: relative;
  display: block;
  width: 131px;
  text-align: left;
  background: $white;
  color: $blue;
  border-radius: 10px;
  height: 42px;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  width: 14px;
  height: 11px;
  background-image: url(../images/arrow-bottom.svg);
  background-repeat: no-repeat;
  pointer-events: none;
}


.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 52px;
  z-index: 1001;
  margin: 0;
  padding: 16px 20px;
  list-style-type: none;
  background: $white;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  overflow: hidden;
  color: $black;
  // border-bottom: 3px solid $blue;
  // border-image: linear-gradient(99.02deg, #5CB1FF -6.68%, #5CFFEB 173.49%);
  // border-image-slice: 1;
  border-radius: 10px;
  width: 100%;
  height: 103px;
  overflow-y: scroll;

  &-border {
    border: $blue 1.5px solid;
  }
}

.dropdown__list-border-bottom {
  display: none;
  position: absolute;
  width: 100%;
  height: 25px;
  top: 133px;
  bottom: -2px;
  left: 0px;
  right: 0px;
  background: linear-gradient(99.02deg, #5CB1FF -6.68%, #5CFFEB 173.49%);
  border-radius: 10px;
  z-index: 1;

  &-settings {
    top: 143px;
  }
}

.dropdown__list-item.mixitup-control-active {
  color: $blue;
}

.dropdown__list-item--active {
  color: $blue;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  padding: 0;
  cursor: pointer;
}

.dropdown__list-item:not(:last-child) {
  margin-bottom: 16px;
}

.dropdown__input-hidden {
  display: none;
}

.dropdown__list::-webkit-scrollbar {
  width: 4px;
}

.dropdown__list::-webkit-scrollbar-track {
  background: transparent;
}

.dropdown__list::-webkit-scrollbar-thumb {
  background-color: $blue;
  border-radius: 20px;
  border: 0px solid orange;
}

.feadback__circle-new {
  .dropdown__button img {
    pointer-events: none;
    width: 56px;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-85%, -50%);
  }

  .dropdown__button {
    position: relative;
    display: block;
    min-width: 66px;
    max-width: 66px;
    height: 66px;
    text-align: left;
    background: $light-grey;
    color: $blue;
    border-radius: 50%;
    z-index: 1002;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
  }

  .feadback__apple {
    position: relative;
  }

  .dropdown__button::after {
    content: "";
    position: absolute;
    background-image: none;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  .dropdown__button .feadback__apple-score {
    content: "5";
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    width: 14px;
    color: $black;
    height: 22px;
    background-image: none;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  .dropdown__list .feadback__apple-score {
    display: none;
  }

  .dropdown__list {
    display: none;
    align-items: center;
    position: absolute;
    left: 40px;
    top: 18px;
    z-index: 1001;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    list-style-type: none;
    background: $light-grey;
    box-shadow: none;
    overflow: hidden;
    color: $black;
    border-radius: 10px;
    width: 170px;
    height: 26px;
  }

  .dropdown__list--visible {
    display: flex;
  }

  .dropdown__list-item {
    padding: 0;
    cursor: pointer;
    width: 26px;
    height: 26px;
  }

  .dropdown__list-item img {
    width: 26px;
    height: 26px;
  }

  .dropdown__list-item:not(:last-child) {
    margin-bottom: 0px;
  }

  .dropdown__input-hidden {
    display: none;
  }
}

.lessons .feadback__circle-new .dropdown__list,
.homework .feadback__circle-new .dropdown__list {
  height: 26px;
}

.homework__item.items__view-item--table,
.lessons__item.items__view-item--table {
  .feadback__circle-new .dropdown__list {
    display: none;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    left: 19px;
    top: -130px;
    z-index: 1001;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    list-style-type: none;
    background: #ecf1fa;
    box-shadow: none;
    overflow: hidden;
    color: #303030;
    border-radius: 10px;
    width: 26px;
    height: 150px;

  }
}

.tabs {
  width: 100%;
  min-height: 99px;
  margin-bottom: 55px;
  display: flex;
  gap: 20px;
  overflow: auto;
  padding-bottom: 2px;

  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.tabs::-webkit-scrollbar {
  height: 7px;
}

.tabs::-webkit-scrollbar-track {
  background: transparent;
  margin: 0 15px;
}

.tabs::-webkit-scrollbar-thumb {
  background-color: $blue;
  border-radius: 20px;
  border: 0px solid orange;
}

.tabs-btn {
  display: flex;
  align-items: center;
  max-width: 350px;
  width: 100%;
  min-width: 200px;
  min-height: 99px;
  background-color: $white;
  border-radius: 20px;
  text-align: left;
  padding: 10px 34px;
  font-size: 26px;
  color: $blue;
  overflow: hidden;
}

.tabs-btn.mixitup-control-active {
  background: $grad1;
  color: $white;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: -6px;
    bottom: -18px;
    background-image: url(../images/apple-t.svg);
    width: 70.01px;
    height: 88.65px;
    transform: rotate(-30deg);
  }
}

.tabs-btn--active {
  background: $grad1;
  color: $white;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: -6px;
    bottom: -18px;
    background-image: url(../images/apple-t.svg);
    width: 70.01px;
    height: 88.65px;
    transform: rotate(-30deg);
  }
}

.like,
.dislike,
.icon {
  width: 24px;
  height: 24px;
  fill: $gray;
}

.btn {
  border-radius: 10px;
  padding: 10px;
  height: 43px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px $blue solid;
  color: $black;
  cursor: pointer;

  &:hover {
    background: $grad1;
    color: $white;
    border: none;
  }
}

.feadback {
  &__circle {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: $light-grey;
    position: relative;
    z-index: 2;

    &:hover {
      .feadback__other-score {
        visibility: visible;
      }
    }
  }

  &__numb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }

  &__apple {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  &__other-score {
    width: 150px;
    height: 27px;
    background-color: $light-grey;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 35px;
    z-index: -1;
    padding-left: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    visibility: hidden;
  }

  &__apple--blue {
    border-radius: 20px;
  }
}

.items__view {
  display: flex;
  gap: 16px;
  margin-left: auto;

  &-item {
    width: 56px;
    height: 56px;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-item--active {
    svg {
      path {
        fill: #5CB1FF;
      }
    }
  }
}

svg {
  cursor: pointer;
}

// Video
#video-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#video-play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  z-index: 1;
  cursor: pointer;
  transition: .2s ease;
  transition-property: opacity, visibility;
}

.video-is-playing {
  #video-over {
    display: block;
  }

  #video-play {
    opacity: 0;
    visibility: hidden;
  }

  &:hover #video-play {
    opacity: 1;
    visibility: visible;
  }
}

.video-control__play {
  display: block;
  width: 89px;
  height: 103px;
  fill: $blue;
  transition: transform .2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.video-control__play.hidden {
  display: none;
}

.video-control__pause {
  display: none;
  width: 89px;
  height: 103px;
  fill: $blue;
  transition: transform .2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.video-control__pause.visible {
  display: block;
}