@media (max-width: 1900px) {
  .main {
    padding-left: $width-sidebar-1900;
  }

  .container-fluid {
    padding: 57px 40px 33px 28px;
  }

  .sidebar {
    max-width: $width-sidebar-1900;
  }

  .sidebar__inner {
    padding: 40px 32px 28px 37px;
  }

  .dashboard__inner {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 352px 431px 1fr;
  }

  .dashboard__columns--2 {
    display: grid;
  }

  .dashboard__columns--3 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .dashboard__columns--4 {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .stats {
    height: 431px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width:1600px) {
  .book-open__item {
    display: grid;
    grid-template-columns: 225px 2fr;
    row-gap: 24px;
  }

  .book-open__buttons {
    grid-column: 1/3;
    row-gap: 20px;
    margin-left: 0;
  }

  .book-open__item-subtitle {
    margin-bottom: 0;
  }

  .lessons__item {
    grid-template-columns: auto auto auto;
    background-size: 0;
  }

  .profile__block:first-child .profile__item {
    min-width: 320px;
    width: 320px;
  }

  .lessons__item {
    column-gap: 50px;
    row-gap: 30px;
  }
}

@media (max-width:1400px) {
  .profile__content {
    flex-direction: column;
  }

  .profile__block:first-child .profile__item:last-child {
    width: 100%;
    min-width: unset;
  }
}

@media (max-width:1300px) {
  .settings__content {
    flex-wrap: wrap;
  }

  .settings__tabs {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 32px;
  }

  .curs.watch-curs .curs__content,
  .radio__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .curs.watch-curs .curs__installation {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  .curs__lessons-left {
    width: 100%;
  }

  .curs.watch-curs .curs__lessons-left {
    grid-row: 1/2;
    grid-column: 1/4;
  }

  .curs.watch-curs .curs__search {
    order: -1;
  }

  .curs.watch-curs .dropdown-like .dropdown__button,
  .dropdown__button {
    width: 100%;
  }

  .tv .curs__installation {
    flex-wrap: wrap;
  }

  .curs.films .curs__installation {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .curs.films .curs__lessons-left {
    grid-row: 1/2;
    grid-column: 1/4;
  }

  .curs.films .curs__search {
    order: -1;
    grid-row: 2/3;
    grid-column: 1/4;
  }

  .curs.films .dropdown-like .dropdown__button,
  .curs.films .dropdown-sort .dropdown__button {
    width: 100%;
  }

  .video-curs__item-words {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .profile .tabs-btn,
  .faq .tabs-btn,
  .referal-system .tabs-btn,
  .level-scale .tabs-btn {
    min-width: 400px;
    width: 400px;
  }

  .profile__item {
    width: 100%;
  }

  .level-scale__items {
    display: flex;
    flex-direction: column;
  }

  .level-scale__title {
    margin: 32px 0 24px;
  }

  .level-scale__block::after {
    display: none;
  }

  .curs__installation {
    flex-wrap: wrap;
  }

  .club .dropdown__button {
    width: 131px;
  }
}

@media (max-width: 1268px) {
  .main {
    padding-left: $width-sidebar-0;
  }

  .sidebar {
    display: none;
  }

  .header {
    display: flex;
  }

  .container-fluid {
    padding: 32px 20px;
  }

  .club .container-fluid {
    padding-right: 20px;
  }

  .club__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    overflow-x: unset;
  }

  .club__item {
    min-width: unset;
    width: unset;
    margin-right: 0;
  }

  .club__lessons-left {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width:1200px) {
  .pay__content {
    grid-template-columns: 1fr 1fr;
  }

  .pay__installation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pay__lessons-left,
  .pay .dropdown__button {
    width: 100%;
  }

  .referal-system__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .referal-system__block-offer {
    grid-column: 1/3;
  }

  .referal-system__block-link {
    grid-column: 1/3;
  }

  .referal-system .gainings {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .referal-system .attracted {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .referal-system__block-steps {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .referal-system__block-box {
    width: 100%;
    padding: 0 20px;
  }

  .referal-system__steps {
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 1080px) {
  .dashboard__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px 357px 297px auto auto;
  }

  .dashboard__columns--1 {
    grid-row: 1/3;
    grid-column: 1/3;
  }

  .dashboard__columns--2 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .student {
    width: 49%;
    height: 357px;
  }

  .homeworks {
    height: 357px;
  }

  .dashboard__columns--3 {
    grid-row: 4/5;
    grid-column: 1/3;
  }

  .stats {
    height: 350px;
  }

  .stat {
    padding: 40px 24px;
    height: 165px;
  }

  .dashboard__columns--4 {
    grid-row: 5/6;
    grid-column: 1/3;
  }

  .stat__time {
    max-width: initial;
    width: 100%;
  }

  .lessons__item {
    column-gap: 40px;
    row-gap: 24px;
  }

  .settings__block,
  .settings__block-security,
  .settings__block-language {
    padding: 24px;
  }

  .settings__block-security .settings__form-item {
    flex-direction: column;
  }

  .settings__form-item:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .curs__content,
  .radio__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .video-curs__inner {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: unset;
  }

  .video-curs__item,
  .video-curs__video,
  .video-curs__rec {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 0;
  }

  .video-curs__video {
    order: -1;
  }

  .faq__accardion {
    display: flex;
    flex-direction: column;
  }

  .club__content {
    grid-template-columns: 1fr 1fr;
  }
  .lessons__item {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  .lessons__stats {
    grid-row: 1/2;
  }
  .lessons__skills {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .lessons__feadback {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .homework__item{
    padding: 24px 16px;
  }
  .homework__stats {
    grid-row: 1/2;
  }
  .homework__btn{
    grid-column: 1/3;
  }
}

@media (max-width: 800px) {
  .student__content-item p {
    max-width: 150px;
  }

  .header__right {
    display: none;
  }

  .menu__box {
    width: 100%;
    height: 100%;
  }

  .menu__box .nav__menu-item {
    max-width: 155.5;
  }

  .dashboard__inner {
    grid-template-columns: 1fr;
    grid-template-rows: 160px 357px 357px 297px 684px 477px;
  }

  .dashboard__columns--1 {
    grid-row: 1/4;
    grid-column: 1/2;
  }

  .dashboard__columns--2 {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .student {
    width: 100%;
    height: 357px;
  }

  .lesson {
    margin-top: 400px;
  }

  .homeworks {
    height: 357px;
  }

  .dashboard__columns--3 {
    grid-row: 5/6;
    grid-column: 1/2;
  }

  .stats {
    height: 684px;
    grid-template-columns: 1fr;
    gap: 8px;
  }

  .stat {
    padding: 40px 24px;
    height: 165px;
    overflow: hidden;
  }

  .dashboard__columns--4 {
    grid-row: 6/7;
    grid-column: 1/2;
  }

  .grafik__tabs-items {
    width: 330px;
    padding: 130px 0 31px;
  }

  .grafik {
    flex-direction: column;
  }

  .lesson__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .menu__box-inderline {
    width: 100%;
    height: 1px;
    background-color: $light-grey;
    margin: 32px 0;
  }

  .menu__box .nav__menu-box {
    display: flex;
  }

  .grafik__left {
    max-width: 100%;
    width: 100%;
    margin-bottom: 17px;
    padding: 20px 0 0 0;
  }

  .tabs-grafik {
    display: flex;
    max-width: 328px;
    overflow-x: auto;
    margin: 0 auto;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      border-radius: 10px;
      border: 0px solid orange;
    }

    .tabs-btn {
      min-width: 220px;
      height: 70px;
      border-radius: 10px;
      margin: 0 4px;
    }
  }

  .notifications__item {
    gap: 30px;
  }

  .curs__lessons-left {
    min-width: unset;
    width: 100%;
  }

  .video-tv__block {
    flex-direction: column;
    gap: unset;
  }

  .video-tv__item {
    max-width: 100%;
    padding: 24px;
  }

  .video-tv__video,
  .video-tv__video video {
    min-height: 300px;
  }

  .radio__inner {
    display: flex;
    flex-direction: column;
  }

  .radio .tabs-btn {
    min-width: 232px;
  }

  .radio__player {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .radio__content {
    order: 1;
  }

  .calendar__installation .club__lessons-left {
    width: 100%;
    justify-content: space-between;
  }

  .pay__content {
    grid-template-columns: 1fr;
  }

  .pay__item {
    padding: 0 20px;
  }

  .faq__block {
    padding: 24px;
  }

  .level-scale__tabs-item {
    overflow: hidden;
  }

  .level-scale__block {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .level-scale__scale {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 37px;
  }

  .level-scale__item {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .level-scale__scale-item {
    height: 161px;
    align-items: center;
  }

  .level-scale__scale-image.visible {
    display: block;
  }
}

@media (max-width:700px) {

  .profile__block {
    flex-direction: column;
  }
}

@media (max-width:700px){
  .lessons .lessons__installation,
  .homework .homework__installation{
    flex-direction: column;
  }

  .lessons .lessons__search,
  .lessons .lessons__search-item, 
  .homework .homework__search,
  .homework .homework__search-item {
    max-width: 100%;
  }
  .lessons .dropdown__button,
  .homework .dropdown__button{
    width: 100%;
  }
  .items__view{
    display: none;
  }
  .lessons__item,
  .lessons__item.items__view-item--table {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    padding: 24px 16px;
  }
  .homework__item,
  .homework__item.items__view-item--table {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .lessons__text,
  .lessons__item.items__view-item--table .lessons__text {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-right: 0;
  }
  .homework__text,
  .homework__item.items__view-item--table .homework__text {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .lessons__btn,
  .lessons__item.items__view-item--table .lessons__btn {
    max-width: 100%;
  }
  .homework__btn,
  .homework__item.items__view-item--table .homework__btn {
    grid-column: 1/2;
  }
  .lessons__stats,
  .lessons__item.items__view-item--table .lessons__stats {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .homework__stats,
  .homework__item.items__view-item--table .homework__stats {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .lessons__skills,
  .lessons__item.items__view-item--table .lessons__skills {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-top: 0;
  }
  .lessons__feadback,
  .lessons__item.items__view-item--table .lessons__feadback {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .homework__feadback {
    justify-content: space-between;
  }
  .homework__stat {
    width: 100%;
  }
  .homework__item .feadback__circle:hover .feadback__other-score {
    transform: translate3d(-77px, -90px, 10px) rotate(-90deg);
  }
  .homework__item .feadback__other-score img {
    transform: rotate(90deg);
  }
}

@media (max-width:600px) {

  .settings__tabs {
    flex-direction: column;
    width: 100%;
    gap: 24px;
    padding: 24px;
  }

  .settings__form-item:first-child {
    display: flex;
  }

  .settings__form-item {
    flex-direction: column;
  }

  .settings__personal-data {
    flex-direction: column;
    align-items: flex-start;
  }

  .settings__personal-avatar {
    width: 100%;
  }

  .notifications__block {
    padding: 24px;
  }

  .notifications__item {
    flex-direction: column;
    gap: 16px;
    height: auto;
    align-items: flex-start;
  }

  .notifications__item p {
    order: 1;
  }

  .notifications__item-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .curs__content,
  .radio__content {
    grid-template-columns: 1fr;
  }

  .curs.watch-curs .tabs-btn {
    min-width: 232px;
  }

  .curs.watch-curs .curs__installation {
    display: flex;
    flex-wrap: wrap;
  }

  .curs.watch-curs .curs__lessons-left {
    order: -2;
  }

  .form-group {
    width: 100%;
  }

  .video-film__item-after::after {
    display: none;
  }

  .video-curs__item-words {
    grid-template-columns: 1fr;
  }

  .video-curs__item {
    padding: 24px;
  }

  .video-curs__item-button,
  .video-tv__item-button {
    width: 100%;
  }

  .radio__installation {
    flex-wrap: wrap;
  }

  .radio__search,
  .radio .dropdown-radio .dropdown__button {
    width: 100%;
  }

  .calendar__installation {
    flex-wrap: wrap;
  }

  .calendar__search {
    display: block;
  }

  .pay__installation {
    display: grid;
    grid-template-columns: 1fr;
  }

  .pay .tabs-btn {
    width: 300px;
  }

  .profile .tabs-btn,
  .faq .tabs-btn,
  .referal-system .tabs-btn,
  .level-scale .tabs-btn {
    min-width: 300px;
    width: 300px;
  }

  .profile__block:first-child .profile__item:first-child {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  .profile__block:first-child .profile__item {
    width: unset;
    min-width: unset;
  }

  .profile__item-avatar {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }

  .profile__information {
    padding: 24px;
  }

  .profile__informaion-item.interest {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile__informaion-item.teacher {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 24px;
    gap: 16px;
  }

  .referal-system__content {
    display: flex;
    flex-direction: column;
  }

  .referal-system__block-steps {
    padding: 20px;
  }

  .referal-system__block-steps:after {
    display: none;
  }

  .referal-system__title {
    margin-bottom: 0;
  }

  .book__content {
    justify-content: center;
  }

  .book-open__item {
    display: flex;
    flex-direction: column;
  }

  .book-open__item picture {
    display: block;
    margin: 0 auto;
  }

  .book-open__info,
  .book-open__info .book__info {
    margin: 0;
  }

  .book__content .book__item {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }

  .book__content .book__info {
    margin-left: 0;
  }

  .club__content {
    grid-template-columns: 1fr;
  }

  .club__installation {
    flex-direction: column;
  }

  .club .club__lessons-left,
  .club .dropdown__button {
    width: 100%;
  }
}