@media (max-width: 1900px) {
  .main {
    padding-left: $width-sidebar-1900;
  }

  .container-fluid {
    padding: 57px 40px 33px 28px;
  }

  .sidebar {
    max-width: $width-sidebar-1900;
  }

  .sidebar__inner {
    padding: 40px 32px 28px 37px;
  }

  .dashboard__inner {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 352px 431px 1fr;
  }

  .dashboard__columns--2 {
    display: grid;
  }

  .dashboard__columns--3 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .dashboard__columns--4 {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .stats {
    height: 431px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width:1600px) {
  .book-open__item {
    display: grid;
    grid-template-columns: 225px 2fr;
    row-gap: 24px;
  }

  .book-open__buttons {
    grid-column: 1/3;
    row-gap: 20px;
    margin-left: 0;
  }

  .book-open__item-subtitle {
    margin-bottom: 0;
  }

  .lessons__item {
    grid-template-columns: auto auto auto;
    background-size: 0;
  }

  .profile__content {
    flex-direction: column;
  }

  .curs__installation {
    flex-wrap: wrap;
  }
}

@media (max-width: 1268px){
  .main{
    padding-left: $width-sidebar-0;
  }
  .sidebar {
    display: none;
  }
  .header{
    display: flex;
  }
  .container-fluid {
    padding: 32px 20px;
  }
}

@media (max-width: 1080px){
  .dashboard__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px 357px 297px auto auto;
  }

  .dashboard__columns--1 {
    grid-row: 1/3;
    grid-column: 1/3;
  }
  .dashboard__columns--2 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .student {
    width: 49%;
    height: 357px;
  }
  .homeworks{
    height: 357px;
  }

  .dashboard__columns--3 {
    grid-row: 4/5;
    grid-column: 1/3;
  }
  .stats {
    height: 350px;
  }
  .stat{
    padding: 40px 24px;
    height: 165px;
  }
  .dashboard__columns--4 {
    grid-row: 5/6;
    grid-column: 1/3;
  }
  .stat__time {
    max-width: initial;
    width: 100%;
  }
}

@media (max-width: 800px){
  .student__content-item p{
    max-width: 150px;
  }
}

@media (max-width: 768px){
  .header__right{
    display: none;
  }
  .menu__box{
    width: 100%;
    height: 100%;
  }
  .menu__box .nav__menu-item {
    max-width: 155.5;
  }
  .dashboard__inner {
    grid-template-columns: 1fr;
    grid-template-rows: 160px 357px 357px 297px 684px 477px;
  }

  .dashboard__columns--1 {
    grid-row: 1/4;
    grid-column: 1/2;
  }
  .dashboard__columns--2 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .student {
    width: 100%;
    height: 357px;
  }
  .lesson {
    margin-top: 400px;
  }
  .homeworks{
    height: 357px;
  }

  .dashboard__columns--3 {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .stats {
    height: 684px;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .stat{
    padding: 40px 24px;
    height: 165px;
    overflow: hidden;
  }
  .dashboard__columns--4 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .grafik__tabs-items{
    width: 330px;
    padding: 130px 0 31px;
  }
  .grafik {
    flex-direction: column;
  }
  .lesson__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .menu__box-inderline{
    width: 100%;
    height: 1px;
    background-color: $light-grey;
    margin: 32px 0;
  }
  .menu__box .nav__menu-box{
    display: flex;
  }
  .grafik__left {
    max-width: 100%;
    width: 100%;
    margin-bottom: 17px;
    padding: 20px 0 0 0;
  }
  .tabs-grafik{
    display: flex;
    max-width: 328px;
    overflow-x: auto;
    margin: 0 auto;
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      /* ширина всей полосы прокрутки */
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
      /* цвет зоны отслеживания */
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      border-radius: 10px;
      border: 0px solid orange;
    }
    .tabs-btn{
      min-width: 220px;
      height: 70px;
      border-radius: 10px;
      margin: 0 4px;
    }
  }
}