$raleway: 'Raleway', sans-serif;
$rawline: 'Rawline', sans-serif;

$black: #303030;
$grey: #B2B2B2;
$gray: #D5DFF2;
$light-grey: #ECF1FA;
$white: #fff;
$fifty: rgba(#fff, .5);
$grad1: linear-gradient(99.02deg, #5CB1FF -6.68%, #5CFFEB 173.49%);
$blue: #5CB1FF;
$bg: #F2FBFF;
$grad2: linear-gradient(99.02deg, #DB2843 -6.68%, #FF5CBE 173.49%);
$red: #DB2843;
$grad4: linear-gradient(99.02deg, #FFD15C -6.68%, #FF5C5C 173.49%);
$yellow: #FFD15C;
$grad3: linear-gradient(99.02deg, #5728DB -6.68%, #5CCEFF 173.49%);
$purple: #5835DE;

$width-sidebar: 320px;
$width-sidebar-0: 0;
$width-sidebar-1900: 280px;

$z-index-main: 1000;
$z-index-sidebar: 1001;