.club {

  .container-fluid {
    padding-right: 0;
  }

  .tabs-btn {
    width: 295px;
  }

  &__inner {
    padding: 0 0 38px 0;
  }

  &__installation {
    display: flex;
    gap: 20px;
    margin-bottom: 56px;
  }

  &__lessons-left {
    background: $white;
    width: 360px;
    height: 58px;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: $blue;

    .arrow-left {
      transform: rotate(90deg);
    }

    .arrow-right {
      transform: rotate(-90deg);
    }
  }

  &__search {
    width: 100%;
    position: relative;

    &:before {
      content: "";
      width: 24px;
      height: 24px;
      background-image: url(../images/search.svg);
      background-repeat: no-repeat;
      position: absolute;
      top: 17px;
      left: 16px;
      z-index: 1;
    }
  }

  &__search-item {
    background: $white;
    border-radius: 10px;
    width: 100%;
    height: 58px;
    padding: 16px 0 16px 56px;

    &::placeholder {
      color: $grey;
    }
  }

  &__content {
    display: flex;
    overflow-x: auto;
  }

  &__item {
    max-width: 358px;
    background: $white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-right: 20px;

    .a {
      background: $grad2;
    }

    .b {
      background: $grad3;
    }

    .c {
      background: $grad4;
    }
  }

  &__item-img {
    width: 100%;
    height: 224px;
    position: relative;
    z-index: 1;
  }

  &__item-lvl {
    display: flex;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 2;
    width: 54px;
    padding: 10px;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 600;
    line-height: 119.2%;
    color: $white;
  }

  &__item-time {
    padding: 24px 24px 0;

    span {
      color: $blue;
    }
  }

  &__item-title {
    padding: 24px 24px 16px;
    color: $black;
  }

  &__item-subtitle {
    padding: 0 24px 24px;
  }

  &__item-link {
    color: $blue;
    padding: 0 24px;
  }

  &__item-author {
    display: flex;
    align-items: center;
    gap: 26px;
    padding: 0 24px;
    margin: 40px 0 34px 0;

    .photo {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .dropdown__button {
    height: 58px;
  }

  .dropdown__list {
    height: 133px;
  }

  .slick-list {
    padding: 0 5% 0 0;
  }
}