.curs {
  .tabs-btn {
    width: 232px;
  }

  &__inner {
    padding: 0 0 38px 0;
  }

  &__installation {
    display: flex;
    gap: 20px;
    margin-bottom: 56px;
  }

  &__lessons-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 358px;
    width: 358px;
    height: 58px;
    padding: 0 16px;
    color: $white;
    background: $grad1;
    border-radius: 10px;
  }

  &__search {
    max-width: 100%;
    width: 100%;
    min-width: 200px;
    position: relative;

    &:before {
      content: "";
      width: 24px;
      height: 24px;
      background-image: url(../images/search.svg);
      background-repeat: no-repeat;
      position: absolute;
      top: 17px;
      left: 16px;
      z-index: 1;
    }
  }

  &__search-item {
    background: $white;
    border-radius: 10px;
    width: 100%;
    height: 58px;
    padding: 16px 0 16px 56px;

    &::placeholder {
      color: $grey;
    }
  }

  .dropdown__button {
    height: 58px;
  }

  .dropdown__list {
    height: 133px;
  }

  .dropdown-like .dropdown__button {
    width: 301px;
  }

  .dropdown-like .dropdown__list {
    height: 105px;
  }

  .dropdown-sort .dropdown__button {
    width: 254px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }

  &__item {
    width: 358px;
    background: $white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    .a {
      background: $grad2;
    }

    .b {
      background: $grad3;
    }

    .c {
      background: $grad4;
    }
  }

  &__item-img {
    width: 100%;
    height: 224px;
    position: relative;
    z-index: 1;
    object-fit: cover;
  }

  &__item-lvl {
    display: flex;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 2;
    width: 54px;
    padding: 10px;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 600;
    line-height: 119.2%;
    color: $white;
  }

  &__item-like {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
    width: 85px;
    padding: 10px;
    background: $white;
    backdrop-filter: blur(9px);
    border-radius: 10px;
    color: $gray;

    &:active {
      color: $blue;

      .like {
        fill: $blue;
      }
    }
  }

  &__item-title {
    padding: 24px 24px 16px;
    color: $black;
  }

  &__item-subtitle {
    padding: 0 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    margin-bottom: 24px;
  }

  &__item-bottom {
    padding: 0 24px 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-link {
    color: $blue;
  }

  &__item-view {
    color: $grey;
  }

  .curs-3 {

    .curs__item-like {
      color: $blue;
    }

    .like {
      fill: $blue;
    }
  }
}