.notifications {

  &__block {
    padding: 40px;
    border-radius: 20px;
    background-color: $white;
  }

  .title {
    margin-bottom: 40px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 72px;
    align-items: center;
    position: relative;

    &:last-child::after {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -16px;
      width: 100%;
      height: 1px;
      background-color: $gray;
    }
  }

  &__date {
    min-width: fit-content;
  }

  &__item-close {
    background-color: transparent;
  }
}