.pay {
  &__inner {
    padding: 0 0 38px 0;
  }

  &__installation {
    display: flex;
    gap: 20px;
    margin-bottom: 56px;
  }

  &__lessons-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 274px;
    height: 58px;
    padding: 0 16px;
    color: $white;
    background: $grad1;
    border-radius: 10px;
  }

  &__time-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 274px;
    height: 58px;
    padding: 0 16px;
    color: $blue;
    border-radius: 10px;
  }

  &__time-item {
    padding: 16px 20px;
    width: 274px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 100%;
    padding: 0 40px;
    position: relative;
    border-radius: 20px;
    background-color: $white;
  }

  &__item-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: -10px;

    font-size: 30px;
    font-weight: 600;
    line-height: 116.6%;
    text-align: center;
    color: $white;

    width: 280px;
    height: 132px;
    border-radius: 20px;
    margin-bottom: 25px;
  }

  &__item-price {
    font-size: 60px;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 116.6%;
    margin-bottom: 4px;
  }

  &__item-text {
    color: $grey;
    margin-bottom: 32px;
    padding: 0 40px;
  }

  &__btn {
    max-width: 404px;
    width: 100%;
    border-radius: 10px;
    padding: 10px 0;
    color: $white;
    margin-bottom: 32px;
  }

  .lvl1 {
    .pay__item-title {
      background: $blue;
    }

    .pay__item-price {
      color: $blue;
    }

    .pay__btn {
      background: $grad1;
    }
  }

  .lvl2 {
    .pay__item-title {
      background: $purple;
    }

    .pay__item-price {
      color: $purple;
    }

    .pay__btn {
      background: $grad3;
    }
  }

  .lvl3 {
    .pay__item-title {
      background: $yellow;
    }

    .pay__item-price {
      color: $yellow;
    }

    .pay__btn {
      background: $grad4;
    }
  }

  .dropdown__button {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 274px;
    height: 58px;
    padding: 0 16px;
    color: #5cb1ff;
    border-radius: 10px;
  }

  .dropdown__list {
    height: 133px;
  }

  .tabs-btn {
    min-width: 484px;
  }

  .pay-2 .pay__item .pay__item-text {
    text-align: left;

    p {
      display: flex;
      align-items: center;
    }
  }

  .pay-3 .pay__item .pay__item-text {
    text-align: left;

    p {
      display: flex;
      align-items: center;
    }
  }

  .apple {
    margin-right: 12px;
  }

  .mixitup-control-active {
    background: $grad1;
    color: $white;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: -6px;
      bottom: -18px;
      background-image: url(../images/apple-t.svg);
      width: 70.01px;
      height: 88.65px;
      transform: rotate(-30deg);
    }
  }
}

.pay-group,
.pay-talk {

  .pay__item-price {
    margin-bottom: 24px;
  }

  .pay__item-text {
    text-align: left;
    padding: 0;
  }

  .pay__item-text p {
    display: flex;
    align-items: center;
  }

  .pay__item-text p:not(:last-child) {
    margin-bottom: 8px;
  }
}