.profile {

  &__inner {
    padding: 0 0 38px 0;
  }

  &__content {
    display: flex;
    gap: 20px;
  }

  &__block {
    display: flex;
    gap: 20px;
    width: 100%;
  }

  &__item {
    width: 358px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    overflow: hidden;
  }

  &__block-column {
    flex-direction: column;

    .profile__item {
      width: 100%;
    }
  }

  &__item-avatar {
    border-radius: 20px;
  }

  &__left-lessons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $grad2;
    color: $white;
    padding: 12px 24px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      right: 63px;
      bottom: -94px;
      background-image: url(../images/apple-profile.svg);
      background-repeat: no-repeat;
      width: 116px;
      height: 147px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    background: $white;
    border-radius: 20px;
  }

  &__informaion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }

  &__item-indication {
    color: $grey;
    text-align: left;
  }

  &__tags {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 8px;

    .tags {
      background: $bg;
      border-radius: 10px;
      padding: 10px;
    }
  }

  &__item-progress {
    gap: unset;

    .profile__information {
      padding: 38px 32px 41px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .teacher {
    background: $blue;
    color: $white;
    padding: 32px;
  }

  .profile .tabs-btn {
    min-width: 282px;
    width: 282px;
  }
}