.video-tv {

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 0 0 38px 0;
  }

  &__block {
    display: flex;
    gap: 20px;
  }

  &__video {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    max-height: 449px;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    video {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    source {
      display: block;
      height: fit-content;
    }
  }

  &__item {
    max-width: 610px;
    width: 100%;
    height: fit-content;
    background: $white;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  &__info-title {
    margin-bottom: 24px;
  }

  &__info-subtitle {
    margin-bottom: 32px;
  }

  &__info-lvl {
    display: flex;
    margin-bottom: 32px;
    color: $blue;

    p:first-child {
      margin-right: 24px;
    }
  }

  &__info-evaluation {
    display: flex;
  }

  &__info-like,
  &__info-dislike {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(9px);
    border-radius: 10px;
    color: $blue;
    margin-right: 8px;
    border: 1px solid $blue;

    svg {
      margin-right: 12px;
    }

    &:active {
      background: $blue;
      color: $white;

      .like,
      .dislike {
        fill: $white;
      }
    }
  }

  &__warning {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    bottom: 16px;
    fill: $white;
    border-radius: 50%;
    background: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      display: block;
      width: 5px;
      height: 15px;
    }

    &:active {
      background: $blue;
    }
  }

  &__item-title {
    margin-bottom: 32px;
  }

  &__item-button {
    width: 256px;
  }
}